@model  BlowOut.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>Please call Support at <b><u>801-555-1212.</u></b> Thank you!</h4>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model=>model.FirstName, "First Name")
        @Html.EditorFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.LastName, "LastName")
        @Html.EditorFor(model => model.LastName)
    </div>
    <div>
        @Html.LabelFor(model => model.Email, "Email")
        @Html.EditorFor(model => model.Email)
    </div>
    <div>
        @Html.LabelFor(model => model.Comment, "Comment")
        @Html.EditorFor(model => model.Comment)
    </div>
    <div>
        <input type="submit" value="submit" />
        <input type="reset" value="reset" />
    </div>
}
<br /><br />
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>